.rate-value
  = resource.rates.sum(:status)

- if user_signed_in?
  .rate-actions
    - if can?(:cancel_rate, resource)
      = link_to I18n.t('rate.cancel'),
              [:cancel_rate, resource],
              method: :delete,
              data: { type: :json },
              class: "#{current_user&.rated?(resource) ? 'rate-cancel' : 'rate-cancel hidden'}",
              remote: true
    - if can?(:rate_up, resource)
      = link_to I18n.t('rate.up'),
              [:rate_up, resource],
              method: :patch,
              data: { type: :json },
              class: "#{!current_user&.rated?(resource) ? 'rate-up' : 'rate-up hidden'}",
              remote: true
    - if can?(:rate_down, resource)
      = link_to I18n.t('rate.down'),
              [:rate_down, resource],
              method: :patch,
              data: { type: :json },
              class: "#{!current_user&.rated?(resource) ? 'rate-down' : 'rate-down hidden'}",
              remote: true
