$('.answer-errors').html('<%= render 'shared/errors', resource: answer %>');

<% if answer.persisted? %>
  $('.answers').append("<div id='answer-id-<%= answer.id %>'><%= j render answer %></div>")
  $('.new-answer #answer_body').val('')
<% end %>
