{
  "type": "service_account",
  "project_id": "questionsandanswers-282619",
  "private_key_id": "635ac58b1e3e1c2c9d47bf595c5408c63f7b5cbe",
  "private_key": "",
  "client_email": "qna-storage@questionsandanswers-282619.iam.gserviceaccount.com",
  "client_id": "114554624979372453499",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/qna-storage%40questionsandanswers-282619.iam.gserviceaccount.com"
}
